server {
    listen       {{ tcp_port }};
    server_name  {{ fqdn }} www.{{ fqdn }};
    root /var/www/{{ fqdn }};

    access_log /var/log/nginx/{{ fqdn }}_access_log;
    error_log /var/log/nginx/{{ fqdn }}_error_log;

    location / {
    }
}
